<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>944434396916-67snd8u4h87jvdd43rpc34ptjopf3f0a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.944434396916-67snd8u4h87jvdd43rpc34ptjopf3f0a</string>
	<key>API_KEY</key>
	<string>AIzaSyA8hbQKejXAADcMTQ0VJqdIqNP-vlfaK-c</string>
	<key>GCM_SENDER_ID</key>
	<string>944434396916</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sena.Swift6SNS</string>
	<key>PROJECT_ID</key>
	<string>swift6sns-cc682</string>
	<key>STORAGE_BUCKET</key>
	<string>swift6sns-cc682.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>New item</key>
	<string></string>
	<key>GOOGLE_APP_ID</key>
	<string>1:944434396916:ios:238aa9c146fb20352a28a1</string>
</dict>
</plist>
